* {
  font-size: 50px;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background: #112503; /* For browsers that do not support gradients */
}

h1, h2, a, p, li, small {
  color: #f6f4e6;
}

h1, small {
  text-transform: uppercase;
}

h1 {
  margin: 1em 5%;
  font-size: 1.55em;
}

section {
  padding: 10% 5%;
  text-align: center;
  flex-basis: 100%;
}

p {
  text-align: justify;
}

ul {
  list-style-position: outside;
  padding: 0;
}

li {
  list-style: none;
  padding: 1em 0;
}

.nav-mobile {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 15% 0 10%;
  z-index: 1;
  position: fixed;
  width: 100%;
}

.drawer {
  margin-left: 5%;
}

.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 350px;
}

.hamburger {
  font-size: 125px;
  color: #f6f4e6;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0.25em;
}

.cross {
  font-size: 250px;
  color: #f6f4e6;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0.2em 0;
}

.nav-mobile ul {
  padding-top: 15%;
}

.project-title {
  text-align: left;
  border: solid 1px white;
  padding: 0.5em 5%;
  margin: 0 auto;
}

.project-info {
  background-color: #f6f4e6;
  padding: 5% 5%;
  width: 90%;
}

.project-info p {
  color: black;
}

.project-image {
  width: 100%;
  border: solid 3px #112503;
}

.fa {
  margin: 0 0.5em;
}

#avatar {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 500px) {
  * {
    font-size: 16px;
  }
  body {
    display: flex;
    flex-direction: row;
  }
  section {
    margin: 0 auto;
    flex-basis: 70%;
  }
  .logo {
    width: 150px;
  }
  .hamburger {
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0.25em;
    background: none;
    border: none;
  }
  .cross {
    font-size: 100px;
    background: none;
    border: none;
  }
  .nav-mobile {
    padding: 0;
  }
  .nav-mobile ul {
    padding-top: 5%;
  }
}