* {
  font-size: 60px;
  font-family: 'Merriweather', serif;
}

:root {
  --gray-dark: #636e73;
  --peach: #f0c899;
  --gray-light: #EFEFEF;
  --green: #378670;
  --green-dark: #0f2c22;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background: white; 
  padding: 0;
}

header {
  background-color: var(--gray-dark);
  margin: 0;
  text-align: center;
}

h2, a, p, li {
  color: black;;
}

small {
  color: black;
}

h1, small {
  text-transform: uppercase;
}

h1 {
  color: var(--peach);
  margin: 1em 5%;
  font-size: 1.55em;
  font-family: 'Archivo Narrow', sans-serif;
}

h2 {
  color: var(--gray-light);
}

section {
  padding: 10% 5%;
  text-align: center;
  flex-basis: 100%;
}

p {
  text-align: justify;
}

ul {
  list-style-position: outside;
  padding: 0;
}

li {
  list-style: none;
  padding: 1em 0;
}

button {
  font-size: 2em;
  background-color: var(--green);
  color: white;
  border: solid 3px white;
  padding: 0.5em 1.5em;
  font-family: 'Archivo Narrow', sans-serif;
}

.project {
  border: solid 5px var(--green-dark);
}

.section-dark {
  background-color: var(--gray-dark);
}

.logo {
  margin: 0 auto;
  width: 20%;
}

.fa {
  margin: 0 0.5em;
}

#avatar {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 500px) {
  * {
    font-size: 16px;
  }
  body {
    display: flex;
    flex-direction: row;
  }
}