* {
  font-size: 40px;
  font-family: 'Merriweather', serif;
}

:root {
  --gray-dark: #636e73;
  --peach: #f0c899;
  --gray-light: #EFEFEF;
  --green: #378670;
  --green-dark: #0f2c22;
  --green-overlay: rgba(15, 44, 34, 0.7);
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background: white; 
  padding: 0;
}

header {
  background-color: var(--gray-dark);
  margin: 0;
  text-align: center;
}

section {
  padding: 20% 10% 30%;
}

h2, a, p, li {
  color: black;;
}

small {
  color: black;
}

h1, small {
  text-transform: uppercase;
}

h1 {
  color: var(--peach);
  margin: 1em 5% 3%;
  font-size: 1.55em;
  font-family: 'Archivo Narrow', sans-serif;
}

h2 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 100;
  text-align: left;
  font-family: 'Archivo Narrow', sans-serif;
}

h3 {
  color: var(--gray-light);
  margin-top: 5px;
  font-weight: 100;
}

section {
  padding: 30% 10% 30%;
  text-align: center;
  flex-basis: 100%;
}

p {
  text-align: center;
}

ul {
  list-style-position: outside;
  padding: 0;
}

li {
  list-style: none;
  padding: 1em 0;
}

button {
  font-size: 2em;
  background-color: var(--green);
  color: white;
  border: solid 10px white;
  padding: 0.25em 1.5em;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 100;
}

small {
  color: var(--gray-light);
  font-size: 0.6em;
}

footer {
  text-align: center;
  padding: 1em;
}

footer small {
  color: black;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}

.project-sq {
  width: 70%;
  height: 650px;
  padding: 5% 15%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-sq a, p {
  color: white;
}

.project-sq > a:active {
  color: white;
}

.section-dark {
  background-color: var(--gray-dark);
}

.section-dark p, a {
  color: white;
  text-decoration: none;
}

.logo {
  margin: 0 auto;
  width: 20%;
}

#avatar {
  width: 200px;
  height: 200px;
}

#project-avalanche {
  background-image: url("../img/avalanche-square.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  border: solid 5px var(--green-dark);
}

#project-desgnworth {
  background-image: url("../img/desgnworth-square.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  border: solid 5px var(--green-dark);
}

#project-fccr {
  background-image: url("../img/project-square.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  border: solid 5px var(--green-dark);
}

#about p {
  text-align: left;
  line-height: 1.25;
}

@media screen and (min-width: 1000px) {
  * {
    font-size: 16px;
  }
  section {
    padding: 10% 10% 15%;
  }
  h1 {
    color: var(--peach);
    margin: 1em 5% 1%;
    font-size: 1.55em;
    font-family: 'Archivo Narrow', sans-serif;
  }
  button {
    font-size: 1.5em;
    border: solid 5px white;
  }
  .projects {
    flex-direction: row;
    justify-content: flex-start;
  }
  .project-sq {
    width: 180px;
    height: 180px;
    padding: 5%;
    margin-bottom: 10%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo {
    margin: 0 auto;
    width: 10%;
  }
  #avatar {
    width: 125px;
    height: 125px;
  }
  #about p {
    margin: 3% 20%;
  }
}

